---
- name: Install Dependencies
  become: yes
  apt:
    name: ["nodejs", "npm"]
    state: latest
    update_cache: yes

- name: Install pm2
  become: yes
  npm:
    name: pm2
    global: yes
    production: yes
    state: present

- name: Creates Directory
  become: yes
  file:
    path: /home/ubuntu/backend
    state: directory

- name: Copy backend dist files web server
  become: yes
  copy:
    src: ~/project/artifact.tar.gz
    dest: /home/ubuntu/backend

- name: Uncompress Backend
  become: yes
  shell: |
    cd /home/ubuntu/
    tar xvzf artifact.tar.gz -C .
    ls -la

- name: Install node
  become: yes
  shell: |
    cd /home/ubuntu/backend
    npm install
    npm install --only=dev    

- name: Build
  shell: |
    cd /home/ubuntu/backend
    npm run build
    cat .env
    npm run prestart:prod

- name: Start PM2
  shell: |
    cd /home/ubuntu/backend
    pm2 stop default
    pm2 start npm --name backend -- start

- name: start pm2 for dist/main.js 
  become: no
  shell: pm2 starter main.js
  args:
    chdir: /home/ubuntu/backend/dist